/*-- scss:defaults --*/

// Base document colors

$strong-highlight: #A1AB71;
$light-highlight: #E8E1D0;

$body-bg: white;
$body-color: #181818;
$link-color: $strong-highlight;

$navbar-bg: $strong-highlight;
$navbar-fg: #181818;
$navbar-hl: white;

$footer-bg: $light-highlight;

$callout-color-note: $strong-highlight;
$link-color-hover: $strong-highlight;